button {
  position: fixed;
  bottom: 1em;
  right: 1em;

  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;

  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;

  &.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  &.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
  }

  &:hover {
    background-color: #333;
    color: #fff;
  }

  svg {
    width: 1em;
  }
}
/* Zoom in */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

/* Zoom out */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
